@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}


div.acc{
	width:700px;
	margin:0 auto;
	padding-top:20px;
}

div.acc .train{
	width:600px;	
}

div.acc .train > div{
	width:60px;
	float:left;
	overflow:hidden;
	border-left:2px solid #fff;
	-webkit-transition: width .7s;
}

div.acc:hover .train > div{
	width:60px;
}

div.acc .train > div:hover{
	width:320px;
}