@charset "utf-8";
/* CSS Document */

div.slid{
	width:700px;
	margin:0 auto;
	overflow:hidden;
	margin-left:10px;
}

div.slid .train > div{
	float:left;
	-webkit-transition:opacity .3s linear;
}

div.slid .train > div img{
	display:block;
}

.botom{
	position:absolute;
	top:500px;
	left:770px;
	z-index:100;
}

div.slid ul{
	list-style-type:none;
	position:relative;
	/*position:absolute;
	top:490px;
	left:800px;
	z-index:20;*/
}

div.slid li{
	float:right;
	width:10px;
	height:10px;
	border-radius:50%;
	background-color:#fff;
	margin-right:8px;
}

div.slid li:hover{
	background-color:#000;
	cursor:pointer;
}

#img1{
	/*position:absolute;
	top:0;
	left:0;
	z-index:0;*/
	opacity:1;
}

#img2{
	margin-top:-350px;
/*	position:absolute;
	top:0;
	left:0;
	z-index:-1;*/
	opacity:0;
}

#img3{
	margin-top:-350px;
	/*position:absolute;
	top:0;
	left:0;
	z-index:-1;*/
	opacity:0;
}

#img4{
	margin-top:-350px;
/*	position:absolute;
	top:0;
	left:0;
	z-index:-1;*/
	opacity:0;
}