@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

body{
	background-color:#f2f2f2;
	padding-top:20px;
}

div{
	outline:1px dashed #f00;
}

div.right{
	float:right;
}

div.left{
	float:left;
}

div.clear{
	clear:both;
	width:0 !important;
	height:0 !important;
	min-height:0 !important;
	min-width:0 !important;
	overflow:hidden;
}
	
div.container{
	width:950px;
	margin:0 auto;
	background-image:url('images/backguid.jpg');
	background-repeat:no-repeat;
}

div.header{
	padding:1px;
}

div.content{
	min-height:530px;
	padding:1px;
}

div.footer{
}

div.header div.left{
	width:390px;
	min-height:80px;
	margin-top:35px;
}

div.header div.logo{
	min-height:135px;
	margin:2px 406px;
}

div.header div.right{
	width:390px;
	min-height:80px;
	margin-top:35px;
}

div.content div.right{
	width:390px;
	min-height:430px;
}

div.content div.contl{
	min-height:360px;
	margin-top:40px;
	width:450px;
}

div.footerlogo{
	min-height:90px;
}

div.footermenu{
	min-height:50px;
}

div.footercopy{
	min-height:60px;
}