@charset "utf-8";
/* CSS Document */

body{
	font:13px/21px Georgia, "Times New Roman", Times, serif;
}

a{
	text-decoration:none;
	color:#000;
}

.background{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:-1;
	background-image:url('images/Design_Museum_A4-A5-A6_bg.jpg');
	background-size:cover;
	background-position:center top;
}
.container-tooltip{
	padding:30px 0 10px;
}

.tooltip{
	background-color:#ffd62c;
	padding:3px 8px;
	margin:0 15px 0 0;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
}

.container-header{
	background-color:#fff;
	padding-top:1px;
	padding-bottom:1px;/*?????*/
}

.container-header .logo h2{
	margin:-37px 15px 0 0;
	color:#b2b2b6;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	font-style:italic;
	font-weight:normal;
}

.container-header .logo h1{
	background-image:url('images/logo.png');
	background-repeat:no-repeat;
	width:144px;
	height:37px;
	text-indent:1000px;
	margin:20px 15px 15px;
	overflow:hidden;
}
/* -----------------------------------MENU---------------------- */
.container-header .menu{
	margin:20px 15px  0;
}

ul{
	list-style-type:none;
}

.container-header .menu  li{
	float:left;
	position:relative;
}

.container-header .menu li li a , .container-header .menu li a{
	display:block;
	padding:12px 10px;
	color:#b2b2b6;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
}

.container-header .menu li:hover  ul a{
	color:#b2b2b6;
}

.container-header .menu li li:hover a,.container-header .menu  li a:hover {
	color:#000;
	-webkit-transition:all 0.2s;
	-moz-transition:all 0.2s;
	-o-transition:all 0.2s;
	-ms-transition:all 0.2s;
}

.container-header .menu li ul{
	position:absolute;
	top:35px;
	z-index:10;
	display:none;
}

.container-header .menu li:hover ul{
	display:block;
	border:1px solid #bbb;
	-webkit-box-shadow:-2px 2px 3px #eee;
	-moz-box-shadow:-2px 2px 3px #eee;
	-o-box-shadow:-2px 2px 3px #eee;
	-ms-box-shadow:-2px 2px 3px #eee;
}

.container-header .menu li li{
	float:none;
	background-color:#fff;
	padding:0 15px;
}

.container-header .menu li li a{
	white-space: nowrap;
	font-size:12px;
	border-top:1px solid #ccc;
	padding:10px 20px 10px 0;
}

.container-header .menu li li:first-child a{
	border-top:0 none;
}
/*--------------------------------END MENU----------------------------*/
.container-slide{
	background-color:#fff;
	margin-top:10px;
	padding-top:20px;
	min-height:730px;/*delette*/
}

.container-slide .text-slide{
	background-image:url('images/we-are-scope.gif');
	width:220px;
	background-repeat:no-repeat;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:13px;
	margin-right:10px;
	color:#555;
}

.container-slide p{
	margin-bottom:20px;
}
	
.container-slide .text-slide .text1-slide{
	margin-top:120px;
}

.container-slide .text-slide a{
	color:#000;
	border-bottom:1px dotted #000;
	margin-top:15px;

}

.container-slide .text-slide a:hover{
	border-bottom:0 none;
}

.change-bgcolor{
	-webkit-transition:all 0.9s;
	-moz-transition:all 0.9s;
	-o-transition:all 0.9s;
	-ms-transition:all 0.9s;
}

.change-bgcolor:hover{
	background-color:#ffd62c;
	-webkit-transition:all 0.2s;
	-moz-transition:all 0.2s;
	-o-transition:all 0.2s;
	-ms-transition:all 0.2s;
}

.widget-center .change-bgcolor:hover{
	color:#000;
	background-color:#ffd62c;
	-webkit-transition:all 0.2s;
	-moz-transition:all 0.2s;
	-o-transition:all 0.2s;
	-ms-transition:all 0.2s;
}

.bg-widget-title{
	background:url('images/bg-widget-title.gif');
	background-repeat:no-repeat;
	margin-left:20px;
	background-position:center left;
}

.sp{
	padding-left:15px;
	padding-right:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	background-color:#fff;
}

.bg-dots{
	background:url('images/dots.gif') 0 10px;
	background-repeat:repeat-x;
}

.container-project{
	min-height:200px;
	margin-left:10px;	
	margin-top:20px;
	margin-bottom:35px;
}

.container-project ul{
	 text-align:center
}

.container-project li{
	float:left;
	margin-right:15px;
	background-color:#f7f7f8;
	width:220px;
	height:220px;
}

.change-opacity{
	-webkit-transition:opacity .3s linear;
	-moz-transition:opacity .3s linear;
	-o-transition:opacity .3s linear;
	-ms-transition:opacity .3s linear;
}

.pic1{
	background-color:#fb0;
	height:140px;
	position:relative;
}

.container-project img:hover{
	opacity:0.2;
	cursor:pointer;
}

.text{
	background-color:#333;
	color:#fff;
	visibility:hidden;
	padding:2px 5px;
	font-size:14px;
	position:absolute;
	top:60px;
	left:60px;
}

.pic1:hover .text{
	visibility:visible;
}

.change-opacity-text{
	background-color:transparent;
	-webkit-transition:all 0.8s;
	-moz-transition:all 0.8s;
	-o-transition:all 0.8s;
	-ms-transition:all 0.8s;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.container-project li a.change-opacity-text:hover , .widget-center a.change-opacity-text:hover{
	background-color:transparent;
	color:#999;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-ms-transition:all 0.3s;
	-webkit-text-shadow:-1px -1px 1px #fff,1px 1px 1px #555;
	-moz-text-shadow:-1px -1px 1px #fff,1px 1px 1px #555;
	-o-text-shadow:-1px -1px 1px #fff,1px 1px 1px #555;
	-ms-text-shadow:-1px -1px 1px #fff,1px 1px 1px #555;
}

.container-project li a{
	-webkit-transition:all 0.9s;
	-moz-transition:all 0.9s;
	-o-transition:all 0.9s;
	-ms-transition:all 0.9s;
	padding:1px 1px;
	font:13px/20px;
	color:#555;
}

.black{
	color:#000;
}

.container-project li a:hover{
	background-color:#ffd62c;
	-webkit-transition:all 0.2s;
	-moz-transition:all 0.2s;
	-o-transition:all 0.2s;
	-ms-transition:all 0.2s;
}

.big-dot{
	width:930px;
	margin:0 10px 10px;
	height:17px;
}

.container-widget{
	min-height:300px;
	background-color:#222;
	padding:20px 0;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:20px;
}

.widget-left{
	 padding-left:13px;
	 font-weight:bold;
}

.widget-left-main .title1{
	display:block;
	border-bottom:1px dotted #fff;
	margin-right:160px;
	font-size:13px;
	-webkit-transition:all 0.8s;
	-moz-transition:all 0.8s;
	-o-transition:all 0.8s;
	-ms-transition:all 0.8s;
}

.widget-left-main .subtitle1{
	margin:-20px 0 0 70px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:14px;
	line-height:1.5;
	color:#aaa;
}

.widget-left-main  a{
	color:#fff;
}

.widget-left-main  a:hover{
	background-color:transparent;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-ms-transition:all 0.3s;
	color:yellow;
}

 .title2{
	border-bottom:1px dotted #fff;
	margin-right:270px;
	width:130px;
}

.widget-left-main .title2 a:hover{
	background-color:transparent;
	color:yellow;
}

.widget-left .title2-content{
	display:block;
	margin-right:20px;
	margin-top:-22px;
}

.widget-right{
	 padding-left:13px;
	 width:220px;
	 font-weight:bold;
}

.widget-center{
	margin-right:20px;
	width:210px;
}

.widget-center a{
	font-family:Georgia, "Times New Roman", Times, serif;
	width:115px;
	display:block;
	padding:2px 4px;
}

.widget-center a:hover{
	color:#000;
	-webkit-text-shadow:-1px -1px 1px #fff,1px 1px 1px #555;
	-moz-text-shadow:-1px -1px 1px #fff,1px 1px 1px #555;
	-o-text-shadow:-1px -1px 1px #fff,1px 1px 1px #555;
	-ms-text-shadow:-1px -1px 1px #fff,1px 1px 1px #555;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-ms-transition:all 0.3s;
}

.wgcenter{
	padding-left:15px;
}

.widget a{
	color:#fff;
}

.copyright{
	padding-left:10px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	min-height:100px;
}

.text-copyright{
	color:#000;
	padding:2px 0;
}

.text-copyright .scope{
	color:#555;
}

.text-copyright .scope a:hover{
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.3s;
	-o-transition:all 0.3s;
	-ms-transition:all 0.3s;
}

.copyright li{
	float:left;
	padding:0px 5px;
}

.copyright li a{
	color:#222;
	display:block;
	padding:2px 4px;
}